body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: 1425px;
  height: 610px;
  background-color: white;
  box-shadow: 0 0 0 10px black;
  border: solid 5px red;
  border-radius: 5%;
}

.logo {
  display: flex;
  position: relative;
  width: 250px;
  height: 70px;
  border: solid 5px red;
  top: 53px;
  right: -175px;
}

.nav {
  display: flex;
  border: solid 5px red;
  position: relative;
  left: 100px;
}
